# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

**/.DS_Store
**/.qtc_clangd
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

com.robot.roengines.xml
*_interface.*
*_manager.xml
*_worker.xml
*proxy/
vlc-qt
firmware
imx8

# Ignore the default compiled object files and dependency files
*.o
*.ko
*.mod.c
*.mod.o
*.mod
*.cmd

# Ignore temporary files used by the build system
.*.cmd
.tmp_versions/
Module.symvers
modules.order
*.order

# Ignore compiled binary files
*.bin
*.elf
*.hex

# Ignore generated documentation files
*.html
*.pdf
*.ps
*.tex

# Ignore ctags files
tags
cscope.*

# Ignore editor and IDE files
*.swp
*.swo
*.swn
*~
.idea/
.vscode/
*.user

# Ignore patch files
*.patch

# Ignore kernel logs and debug information
dmesg
*.log
*.out

# Ignore other unnecessary files
*.bak
*.backup
*.orig
*.rej
*~
**/venv/
